name: Automated Testing

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest  # Specify the operating system you want to run the job on

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # This step checks out your repository's code
        

      # - name: Chnage directory
      #   run: cd event_ticketing # This step checks out your repository's code

      - name: Install dependencies
        run: npm install  # Install project dependencies using npm
      

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm start
        

